{#
/**
 * @file
 * Theme to display view rows in a Foundation XY Grid.
 * @see https://get.foundation/sites/docs/xy-grid.html
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - grid: The grid container.
 *   - attributes: The grid container attributes.
 * - title: The title when grouping.
 * - grouping_title_attributes: Title attributes.
 * - grouping_title_type: The title type, e.g. h2, h3, ...
 * - rows: The cells.
 *   - content: The cell content.
 *   - attributes: The cell's HTML attributes.
 *
 * @see template_preprocess_views_view_foundation_grid()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'views-view-foundation-grid',
  ]
%}

{%
  set grid_classes = [
    options.orientation == 'vertical' ? 'grid-y' : 'grid-x',
    options.grid_gutter_vertical ? 'grid-' ~ options.grid_gutter_type ~ '-x',
    options.grid_gutter_horizontal ? 'grid-' ~ options.grid_gutter_type ~ '-y',
  ]
%}

{%
  set cell_classes = [
    'cell',
    options.cells_small != '' ? 'small-' ~ options.cells_small,
    options.cells_medium != '' ? 'medium-' ~ options.cells_medium,
    options.cells_large != '' ? 'large-' ~ options.cells_large,
  ]
%}
{% if title and grouping_title_type %}
  <{{ grouping_title_type }}{{ grouping_title_attributes }}>{{title}}</{{ grouping_title_type }}>
{% endif %}
<div{{ attributes.addClass(classes) }}>
  <div{{ grid.attributes.addClass(grid_classes) }}>
      {% for row in rows %}
        <div{{ row.attributes.addClass(cell_classes, 'cell-' ~ loop.index) }}>
          {{- row.content -}}
        </div>
      {% endfor %}
  </div>
</div>
